$nav-item-padding: 10px 8px 10px 16px;
$header-height: 100px;
$main-columns-height: 500px;
$live-map-footer-height: 30px;
$live-map-nav-width: 50px;



.main {
	overflow: hidden;		/* this makes the containers size expand to match the total size of all it's child elements */
	margin-bottom: 30px;	/* this somehow prevents the bottom of the layout from going underneath the fixed footer ribbon */
	height: 100%;
}

.header-layout {
	width:100%; 
	height:$header-height;
	overflow:hidden;
}

.info-layout {
	@extend %block-float;
	background-color:rgba($color: #acacb8, $alpha: 0.45); 
	width:200px; 
	height:$main-columns-height;  
	color:white; 
	padding: 0.5em 0.5em;
}


