.video-overlay-container, .video-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.video-section {
  position: relative;
  max-height: 90vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif; }

.video {
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 90vh;
  width: 100vw;
  max-width: 100%;
  -webkit-filter: brightness(0.65) contrast(1.2);
  filter: brightness(0.65) contrast(1.2); }

.video-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.video-overlay {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  box-flex: 1;
  flex-grow: 1; }

.video-overlay-intro {
  position: absolute;
  left: 15%;
  bottom: 40%;
  padding: 0 2em;
  width: 40%;
  color: palette(dark-font, gray-nickel); }

.video-overlay-intro > h1 {
  display: inline-block;
  font-style: italic;
  padding: .5em .75em;
  background: rgba(0, 0, 0, 0.85);
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  border-radius: 10px; }

.video-overlay-intro > p {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.video-overlay-button {
  position: absolute;
  left: 20%;
  bottom: 35%;
  padding: 0 2em;
  width: 40%; }

.ribbon-bg {
  position: absolute;
  bottom: 0%;
  background-color: rgba(57, 57, 57, 0.8);
  width: 100%; }

.ribbon-layout {
  position: relative;
  bottom: 10%;
  width: 80%;
  left: 50px;
  left: -webkit-calc(100px);
  left: -moz-calc(100px);
  left: calc(100px);
  /* add a left offset that is outside of the nav-bar width */
  margin-left: auto;
  margin-right: auto; }

a.pretty-button {
  text-decoration: none; }

.pretty-button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent; }

.pretty-button i {
  margin-top: 4px;
  margin-bottom: 4px; }

.pretty-box {
  display: table-cell;
  vertical-align: middle;
  padding: 1px 5px; }

.pretty-box-button {
  background-color: palette(dark-font, gray-nickel);
  color: #333;
  border-color: #ccc;
  border-radius: 10px;
  text-align: center; }
  .pretty-box-button:hover {
    background-color: #333;
    color: palette(dark-font, gray-nickel);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(138, 138, 138, 0.75);
    -moz-box-shadow: 0px 0px 26px 4px rgba(138, 138, 138, 0.75);
    box-shadow: 0px 0px 26px 4px rgba(138, 138, 138, 0.75);
    transition: 0.5s; }

.pretty-box-text {
  background-color: transparent;
  border-color: transparent;
  text-align: left;
  color: palette(dark-font, gray-nickel);
  text-decoration: none; }
  .pretty-box-text > span {
    text-decoration: none; }

.layout-3 {
  padding: 10px;
  float: left;
  width: 33.3333333333%; }

.form-layout {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 60%; }

/*# sourceMappingURL=home.css.map */
