/*
* Better function for color palettes using Sass maps
* Link: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
* Usage: color: palette(brand,tan);
*/
.dashboard-layout {
  background-color: #474747;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px; }

.chart-layout {
  overflow: hidden; }

.left-margin-inner {
  margin-left: 10px; }

.right-margin-inner {
  margin-right: 10px; }

.dash-columns-eight:after, .dash-columns-four:after, .dash-columns-three:after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  height: 73%;
  width: 4px;
  background: #393939; }

.dashboard-main-title {
  margin-bottom: 5px;
  font-size: 1.4em;
  padding-left: 1em;
  padding-top: 25px; }

.dashboard-section-heading {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block; }
  .dashboard-section-heading:after {
    border-bottom: 1px solid #333;
    content: '';
    display: block;
    padding-bottom: 10px;
    width: 95%; }

.dash-columns-eight {
  float: left;
  width: 12.5%;
  position: relative; }

.dash-columns-four {
  float: left;
  width: 25%;
  position: relative; }

.dash-columns-three {
  float: left;
  width: 33.33333333%;
  position: relative; }

.dashboard-row {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: flex-start; }
  .dashboard-row:after {
    content: "";
    display: table;
    clear: both; }

.dashboard-background-columns-2 {
  width: 49%;
  float: left;
  position: relative; }
  .dashboard-background-columns-2:nth-child(1) {
    margin-right: 1%; }
  .dashboard-background-columns-2:nth-child(2) {
    margin-left: 1%; }

.dash-header {
  line-height: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px; }

.dash-header-large-font {
  font-size: 22px;
  font-weight: bold;
  color: #ebebeb; }

.dash-header-medium-font {
  font-size: 19px;
  font-weight: bold;
  color: #ebebeb; }

.dash-header-small-font {
  font-size: 10px;
  color: #CACAC4; }

.dash-background-color {
  background-color: #474747;
  margin-left: -4em;
  margin-right: -4em; }

.chart-row {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  overflow: hidden; }

.chart-columns-2 {
  width: 50%;
  float: left;
  height: 200px; }

.chart-background {
  background: #4e4e4e;
  background: -webkit-linear-gradient(-90deg, #4e4e4e, #383838);
  background: -moz-linear-gradient(180deg, #4e4e4e, #383838);
  background: linear-gradient(180deg, #4e4e4e, #383838);
  border-width: 0px;
  border-radius: 15px;
  overflow: hidden; }

#hc-last-session,
#hc-last-5-sessions {
  width: 50%;
  float: left;
  position: relative;
  height: 300px;
  margin: 0 auto; }

#hc-last-session {
  padding-right: 10px; }

#hc-last-5-sessions {
  padding-left: 10px; }

#hc-airframes-pie,
#hc-score-pie {
  width: 50%;
  float: left;
  position: relative;
  height: 220px;
  margin: 0 auto;
  padding-top: 6px; }

.chart-layout-piecharts {
  width: 50%;
  float: left;
  position: relative;
  padding-right: 10px; }

.chart-layout-gauges {
  width: 50%;
  float: left;
  position: relative;
  padding-left: 10px; }

#hc-sortie-success,
#hc-sling-success,
#hc-transport-success {
  float: left;
  width: 33.33333333%;
  position: relative;
  height: 200px; }

.stats-table-layout {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%; }
  .stats-table-layout::-webkit-scrollbar {
    width: 10px; }
  .stats-table-layout::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #cdcdcd; }
  .stats-table-layout::-webkit-scrollbar-track {
    border-radius: 5px; }

.stats-table-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(67, 67, 72, 0.75), rgba(0, 0, 0, 0));
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #333; }

h3 {
  font-size: 19px;
  text-align: center; }

    /*
.dash-background-lighter-color {
    background-color: #f1f2f4;
}
*/

/*# sourceMappingURL=player-statistics.css.map */
