.game-section {
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
	margin: 0 4em;

	@media screen and (max-width: 1070px) {
		margin: 0 2em;
	}

	@media screen and (max-width: 520px) {
		margin: 0 1em;
	}	
}

.info-layout {
	@extend %block-float;
	min-width:200px; 
	flex: 1;
	margin-left: 2%;
	margin-right: 2%;
	color:white; 
	padding: 0.5em 0.5em;

	& > h2 {
		font-size: 2em;
		@media screen and (max-width: 1070px) {
			font-size: 1.5em;
		}
	
		@media screen and (max-width: 520px) {
			font-size: 1em;
		}	

		padding: 0.2em;
		text-align: center;
	}    
}


