.game-section {
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
}

.info-layout {
	@extend %block-float;
	min-width:200px; 
	flex: 1;
	margin-left: 2%;
	margin-right: 2%;
	color: palette(dark-font, 'gray-nickel'); 
	padding: 0.5em 0.5em;

	// remove padding and margins as it causes this section to look misaligned vertically to the rest of the content
	@media screen and (max-width: 860px) {
		margin-left: 0%;
		margin-right: 0%;
		padding: 0.5em 0em;
	}

	& > h2 {
		font-size: 2em;
		@media screen and (max-width: 1070px) {
			font-size: 1.5em;
		}
	
		@media screen and (max-width: 520px) {
			font-size: 1em;
		}	

		padding: 0.2em;
		text-align: center;
	}    
}


