$main-columns-height: 500px;

.info-layout {
	@extend %block-float;
	background-color:rgba($color: #acacb8, $alpha: 0.45); 
	width:200px; 
	height:$main-columns-height;  
	color:white; 
	padding: 0.5em 0.5em;
}


