$live-map-layout-width: 700px;
$live-map-layout-height: 500px;
$live-map-footer-height: 30px;
$live-map-nav-width: 50px;
$live-map-width: 650px;
$live-map-height: 470px;

%live-map-footer-layout {
    width: 33%; 
	height: 100%; 
	position:relative;
    text-align:center;
}

.live-map-layout {
	@extend %block-float;
	background-color:red; 
	max-width: $live-map-layout-width;
	width: 100%;
	height: $live-map-layout-height; 
	color:white; 
	position:relative;
}

/* footer on the live map */
.live-map-layout div.footer {
	position:absolute; 
	left:0px; 
	bottom:0px; 
    height:$live-map-footer-height; 
    @include calc( width, 80%, '100% - #{$live-map-nav-width}');
	background:black;

	@media screen and (max-width: 550px) {
		display: none;
	}
}

#googleMap {
	width:100%;
	height:100%;
}

.live-map {
	max-width: $live-map-width;
	@include calc( width, 80%, '100% - #{$nav-width-collapsed}');	/* body needs to be shifted left of the vertical navbar */
	flex: 1;
	height: $live-map-height; 
	background-color: $footer-background-color;
}

.live-map-footer-content {
	display: none;
    position: absolute;		/* make the positioning absolute relative to the parent */
	bottom: $live-map-footer-height;	/* offset to be on top of the notifications div */	
}

.live-map-footer-item {
	top: 20%;
	position: relative;
}





.notification {
    background-color: rgb(138, 0, 0);
    color: rgb(201, 201, 201);
    font-weight: 800;
    padding: 0 .25em;
}





