$footer-font-color: $primary-font-color;
$footer-font-hover: $primary-font-color-hover;
$footer-background-color: #111;
$footer-background-color-hover: #444;
$nav-width-expanded: 160px;
$nav-width-collapsed: 50px;